<template>

  <div class="cont">
    <div class="header">
      <h2>Cart</h2>
    </div>
    <div class="cart_item_length">
      <p>All items: {{cartItemLength}}</p>
      <p>Sum: {{cartItemSum}} rub.</p>
      <button @click="removeAllCartItem()">Clear Cart</button>
    </div>
    <div class="products">
        <div v-for="(item, index) of cart" class="products_box" v-bind:style="{ backgroundImage: 'url(' + require('../assets/'+item.product.img_name) + ')'}">
          <div class="product_details">
            <div class="name">
              {{item.product.name}}
            </div>
            <div class="price">
              {{item.product.price}} rub.
            </div>
            <div class="current_product_count">
              <a href="" @click.prevent="deleteItemCount(index)">
                <i class="fas fa-minus"></i>
              </a>
              {{item.product.count}}
              <a href="" @click.prevent="addItemCount(index)">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="cart_actions">
            <a href="#" @click.prevent="deleteItem(item.product.id)">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
    </div>
  </div>

</template>

<script>

  import * as types from '../stores/modules/cart/types.actions';

  export default {
    name: 'Cart',
    data () {
      return {
        storeMutationSubscriber: null,
      }
    },
    computed: {
      cart() {
        this.$store.dispatch("cart/"+types.GET_CART_ITEMS);
        return this.$store.state.cart.cartItems
      },
      cartItemLength() {
        return this.$store.getters["cart/getCartItemsLength"];
      },
      cartItemSum() {
        return this.$store.getters["cart/getCartItemsSum"];
      }
    },
    methods: {
      deleteItem(id) {
        let cartItems = this.$store.state.cart.cartItems;
        let index = cartItems.map(function(x){
          return x.product.id;
        }).indexOf(id);
        this.$store.state.cart.cartItems.splice(index,1);
        localStorage.removeItem('cart');
        localStorage.setItem('cart', JSON.stringify(this.$store.state.cart.cartItems));
      },
      removeAllCartItem() {
        this.$store.state.cart.cartItems = [];
        localStorage.removeItem('cart');
      },
      deleteItemCount(id) {
        this.$store.state.cart.cartItems[id].product.count -= 1;
        if(this.$store.state.cart.cartItems[id].product.count == 0) {
          this.deleteItem(this.$store.state.cart.cartItems[id].product.id)
        }
      },
      addItemCount(id) {
        this.$store.state.cart.cartItems[id].product.count += 1;
      }
    }
  }

</script>

<style>
  .header{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
  }
  .products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .products_box{
    position: relative;
    display: inline-block;
    margin:10px 0 0 10px;
    width: calc(100% * (1/4) - 10px - 1px);
    height: 200px;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    -webkit-box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
    -moz-box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
    box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
  }
  .product_details {
    margin: 10px;
  }
  .product_details .name {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .product_details .price {
    font-size: 15px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .add_cart button{
    border: none;
    padding: 5px 15px;
    background: #00a599;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
  }
  .add_cart button:hover{
    background: #ffffff;
    color: #000;
    outline: 1px solid #00a599;
  }
  .cart_actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .current_product_count {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .current_product_count a{
    text-decoration: none;
    color: #000000;
    font-size: 11px;
    display: inline-block;
    margin: 0 10px;
  }
</style>
