<template>

<div class="cont">
  <div class="header">
    <h2>Products</h2>
    <div class="cart">
      <p>{{cartItemLength}}</p>
      <a href="#/cart">Cart</a>
    </div>
  </div>
  <div class="products">
    <div v-for="product of products" class="products_box" v-bind:style="{ backgroundImage: 'url(' + require('../assets/'+product.img_name) + ')'}">
      <div class="product_details">
        <div class="name">
          {{product.name}}
        </div>
        <div class="price">
          {{product.price}} rub.
        </div>
      </div>
      <div class="add_cart">
        <button @click="addToCart(product)">Add To Cart</button>
      </div>
    </div>
  </div>
</div>

</template>

<script>
  import * as types from '../stores/modules/cart/types.actions';
  import * as mutation_types from '../stores/modules/cart/types.mutations';
  export default {
    name: 'Main',
    data () {
      return {
        storeMutationSubscriber: null,
      }
    },
    mounted () {
      this.$store.dispatch("cart/"+types.GET_CART_ITEMS);

      this.storeMutationSubscriber =
        this.$store.subscribe (( mutation, state ) => {
          switch ( mutation.type ) {
            case "cart/" + mutation_types.M_ADD_TO_CART:
              let cartItems = this.$store.state.cart.cartItems;
              if(localStorage.getItem('cart')) {
                localStorage.removeItem('cart');
                localStorage.setItem('cart', JSON.stringify(cartItems))
              } else {
                localStorage.setItem('cart', JSON.stringify(cartItems))
              }
          }
        });
    },

    beforeDestroy () {
      if ( this.storeMutationSubscriber != null ) {
        this.storeMutationSubscriber ();
        this.storeMutationSubscriber = null;
      }
    },
    computed: {
      products() {
        return this.$store.state.products.products
      },
      cart() {
        return this.$store.state.cart.cartItems
      },
      cartItemLength() {
        return this.$store.getters["cart/getCartItemsLength"];
      },
    },
    methods: {
      addToCart(currentProduct) {
        let product = {
          id: currentProduct.id,
          name: currentProduct.name,
          price: currentProduct.price,
          img_name: currentProduct.img_name,
          count: 1
        };
        this.$store.dispatch("cart/"+types.ADD_TO_CART, { product:product });
      }
    }
  }
</script>

<style>
  .header{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
  }
  .products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .products_box{
    position: relative;
    display: inline-block;
    margin:10px 0 0 10px;
    width: calc(100% * (1/4) - 10px - 1px);
    height: 200px;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    -webkit-box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
    -moz-box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
    box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
  }
  .product_details {
    margin: 10px;
  }
  .product_details .name {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .product_details .price {
    font-size: 15px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .add_cart button{
    border: none;
    padding: 5px 15px;
    background: #00a599;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
  }
  .add_cart button:hover{
    background: #ffffff;
    color: #000;
    outline: 1px solid #00a599;
  }
  .cart{
    -webkit-box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
    -moz-box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
    box-shadow: 2px 4px 19px -4px rgba(3,3,3,0.62);
    text-align: center;
    display: flex;
    flex-flow: column;
  }
  .cart a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
    color: #000000;
    font-weight: 600;
    background-color: #00a599;
    text-align: right;
  }
</style>
